#accordion-1 {
  margin-bottom: 10px;
}

#ajouter-activite {
  margin-bottom: 15px;
}

#accordion-2 {
  margin-bottom: 10px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@media (min-width:768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
