<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>XYZ Hotel</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-uppercase text-center">Page not found</h1>
      <h2 class="text-uppercase text-center">404</h2>
      <p class="text-center"><br />This page doesn't exist<br /><br /></p><a class="btn btn-primary" role="button" routerLink="/">Go back</a>
    </div>
  </div>
</div>
</body>

</html>
